.top {
    display: flex;
    margin-bottom: 50px;
    margin-top: 10px;
}
.newComment {
    border-radius: 20px;
    border: 1px solid #b3b3b3;
    height: 40px;
    width: 80%;
    margin-left: 10px;
    padding-left: 10px;
}
.save {
    color: white;
    background-color: #0A66C2;
    border: none;
    border-radius: 16px;
    padding: 6px 16px;
    margin: 7px;
    font-size: 16px;
}
.commentTop {
    display: flex;
}
ul {
    padding: 0;
}
.infoTop {
    margin: 5px 0px 0px 10px;
}
.infoTop:hover {
    cursor: pointer;
    text-decoration: underline;
}
.companyCommentTop {
    display: flex;
    flex-direction: column;
    align-items: center;
}
