body, html {
    margin: 0px;
    padding: 0px;
}
.postsContainer {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 20px;
}
.post {
    width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 20px 20px 10px 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.top, .bottom, .section {
    display: flex;
}
.bottom {
    justify-content: center;
}
.section {
    padding: 5px;
    cursor: pointer;
}
.section:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}