.viewJobTab {
    margin: 20px 20px 20px 0px;
    background-color: white;
    border-radius: 10px;
    max-height: calc(100vh - 53.66px);
    overflow-y: scroll;
    padding: 20px;
}
.viewJobTab2 {
    margin: 20px 20px;
    background-color: white;
    border-radius: 10px;
    max-height: calc(100vh - 53.66px);
    overflow-y: scroll;
    padding: 20px;
}
.topLine {
    display: flex;
    margin: 0px;
}
.companyName {
    margin: auto 0px auto 10px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #000000E6;
} 
.jobTitle {
    margin: 10px 0px;
    font-size: 24px;
    color: #1a1a1a;
}
.locationNdApplicants {
    display: flex;

}
.locationNdApplicants p {
    color: #666666;
    margin: 5px 0px;
}
.moreDetails {
    margin: 10px 0px;
}
.type {
    display: flex;
    margin-bottom: 12px;
}
.infoIcons {
    margin-right: 10px;
}
.typeBox {
    margin: auto 0px auto 10px;
    padding: 1px 8px;
    background-color: #daebd1;
    border-radius: 5px;
    color: #373b35;
}
.typeText {
    margin: auto 0px auto 10px;
    color: #373b35;
}
.apply {
    color: white;
    background-color: #0A66C2;
    border: none;
    border-radius: 16px;
    padding: 8px 18px;
    margin-top: 15px;
    font-size: 16px;
}
.apply:hover {
    background-color: #095098;
}
.aboutTitle {
    font-size: 20px;
    color: #1a1a1a;
}